.card-new {
    border-radius:5px;
    overflow:hidden;
}
.new {
    text-align: justify;
    padding: 0 20px 10px 10px;
    border-radius: 5px;
}
.newContainer {
    transition: 300ms;
}
.newContainer:hover {
    background-color: rgb(236, 236, 236);
}

.card-new img {
    width:150px;
    height:100px;
}