<app-navbar></app-navbar>
<div class='container mt-5'>
    <div class='row'>
        <div class='col-12'>
            <div class="card mx-auto my-3 w-9" >
                <img src="{{ new.urlToImage }}" class="card-img-top" style='width:100%; height:auto;'>
                <div class="card-body">
                    <h5 class="card-title">{{ new.author }}</h5>
                    <p class="card-text">{{ new.description }}</p>
                    <a href="{{ new.url }}" noreferrer noopener target='_blank' class="btn btn-outline-dark">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
